# =========================================================
# Build Directories
# =========================================================

build/
cmake-build-debug/
cmake-build-release/
cmake-build-*/
out/


# =========================================================
# CMake
# =========================================================

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
CTestTestfile.cmake
Testing/
Makefile

# =========================================================
# Clang
# =========================================================

.cache

# =========================================================
# Ninja
# =========================================================

.ninja_deps
.ninja_log
build.ninja


# =========================================================
# macOS
# =========================================================

.DS_Store


# =========================================================
# JetBrains / Rider
# =========================================================

.idea/
*.DotSettings.user


# =========================================================
# VSCode
# =========================================================

.vscode/


# =========================================================
# Xcode
# =========================================================

*.xcodeproj
*.xcworkspace
DerivedData/


# =========================================================
# Visual Studio
# =========================================================

*.sln
*.vcxproj*
*.vcproj*
*.pdb
*.ilk


# =========================================================
# Compiled Objects / Libraries
# =========================================================

*.o
*.obj
*.a
*.lib
*.so
*.dylib
*.dll
*.exe


# =========================================================
# Logs
# =========================================================

*.log


# =========================================================
# Runtime Generated Files
# =========================================================

assets/generated/
config/generated/


# =========================================================
# Temporary / Backup Files
# =========================================================

*.tmp
*.temp
*.swp
*~